.App {
  text-align: center;
  background-color: #37859E;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: #37859E;
}
.App-header {
  background-color: #37859E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.testi{
  margin-top: 5%;
  margin-left: 0%;
  width: 90%;
}

.chig{
  margin-top: 5%;
  width:30%
}
.nyc{
  margin-top: 5%;
  width:30%
}.sd{
  margin-top: 5%;
  width:30%
}

h1{
  margin-top: 110%;
  padding: 20px;
}

.pic{
  white-space: 100px;
  padding: 5%;
}

.thriller{
  width: 440px;
  white-space: 100%;
  margin: auto;
}

.hipster{
  padding-right: 10%;
  width: 200;
  white-space: 200px;
}

.nav{
  font-size: 32px;
  white-space: 100px;
  text-align: center;
  padding: 20%;
}

.jack{
  width: 25%;
}